.maindiv{
    background-color: #eef2f5;
	width: 400px;
    margin-bottom: 44px;
}
#mainone{
	width: 100px;
}


.form-control:focus{
	color: #000;
}
.second{
	width: 500px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 15px 10px -15px #111;    
	
}
.text1{
	font-size: 16px;
    font-weight: 500;
    color: #56575b;
    cursor: pointer;
}
.text2{
	font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}
.text3{
	font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386;
}
.text3o{
	color: #00a5f4;

}
.text4{
	font-size: 13px;
    font-weight: 500;
    color: #828386;
}
.text4i{
	color: #00a5f4;
}
.text4o{
	color: white;
}
.thumbup{
	font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}
.thumbupo{
	color: #17a2b8;
}
.image{
    display: block;
   margin-bottom: 33px;
}
.headtxt{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
}
.maincontent{
    
}

button svg{
	height: 23px;
}

#btn1{
	align-items: center;
	gap: 3px;
}

.image{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom:80px;
}

.image img{
	width: 800px;
	height: 300px;
	
}

.section2 .container{
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
}
.section2 input[type='text']{
	width: 400px;
	
}


@media(max-width:365px){
	.section2 .container{
		display: flex;
		width: 50%;
		justify-content: center;
		
	}
	input[type='text']{
		width: 270px;
		
	}
	
}




@media(max-width:545px){
	.inpbut{
		position: absolute;
		top: 50px;
		margin-bottom: 30px;
	}
	
}

.inpbut{
	margin-left: 20px;
	margin-bottom: 15px;
}

#cmnt{
	padding-top: 30px;
}